<!-- Copyright 2011 by Thomas Herrmann -->
<%= form_for(@participation) do |f| %>
  <% if @participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participation.errors.count, "error") %> prohibited this participation from being saved:</h2>

      <ul>
      <% @participation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="EventTitle"><%= @participation.event.title %></p>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :event_id %>
  <div class="field">
      Anzahl Personen<br />
    <%= f.text_field :number_of_attendees %>
  </div>
  <div class="field">
      Ich möchte am AFOLs-Abend teilnehmen<br />
    <%= f.check_box :attend_afols_evening %>
  </div>
  <div class="field">
      Anzahl der Personen für den AFOLs-Abend<br />
    <%= f.text_field :number_of_attendees_afols_evening %>
  </div>
  <div class="field">
      Bitte vermittelt mir ein Hotel<br />
    <%= f.check_box :wants_hotel_reservation %>
  </div>
  <div class="field">
      Weitere Bemerkungen<br />
    <%= f.text_area :remarks %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
