<!-- Copyright 2011 by Thomas Herrmann -->
<h1>Meine Anmeldungen</h1>

<% @participations.each do |participation| %>
    <p><div class="EventTitle"><%= participation.event.title %></div><%= link_to "Anmeldedaten ändern", edit_participation_path(participation)%></p>
    <p>Ich bin für diese Veranstaltung mit <%= participation.number_of_attendees %> Personen angemeldet.</p>
    <p>Ich nehme am AFLOs-Abend
        <% if participation.attend_afols_evening -%>
            mit <%= participation.number_of_attendees_afols_evening %> Personen
        <% else -%>
            nicht
        <% end -%> teil.</p>
    <% if participation.wants_hotel_reservation -%>
        <p>Ich möchte gerne eine Hotel-Reservierung.</p>
    <% end -%>
    <% if ! participation.remarks.blank? %>
        <p>Weitere Bemerkungen:<br/>
        <%= participation.remarks %></p>
    <% end -%>
<% end %>

<br />
