<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @participation.event_id %>
</p>

<p>
  <b>User:</b>
  <%= @participation.user_id %>
</p>

<p>
  <b>Number of attendees:</b>
  <%= @participation.number_of_attendees %>
</p>

<p>
  <b>Attend afols evening:</b>
  <%= @participation.attend_afols_evening %>
</p>

<p>
  <b>Number of attendees afols evening:</b>
  <%= @participation.number_of_attendees_afols_evening %>
</p>

<p>
  <b>Wants hotel reservation:</b>
  <%= @participation.wants_hotel_reservation %>
</p>

<p>
  <b>Remarks:</b>
  <%= @participation.remarks %>
</p>


<%= link_to 'Edit', edit_participation_path(@participation) %> |
<%= link_to 'Back', participations_path %>
