<h2>Bestätigungsmail erneut senden</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= render "devise/shared/error_messages" %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Bestätigungsmail erneut senden" %></div>
<% end %>

<%= render "devise/shared/links" %>
