<h2>Anmeldedaten <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, 'Email (gleichzeitig Dein Login)' %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, 'Neues Passwort' %> <i>(leerlassen, wenn Du Dein Passwort nicht ändern möchtest)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, 'Neues Passwort bitte wiederholen' %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password, 'Dein aktuelles Passwort' %> <i>(um die Änderung zu bestätigen)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Benutzerdaten ändern" %></div>
<% end %>
