<h1>Benutzeranmeldung</h1>

<div class="InputForm">

<p>Zur Anmeldung musst Du mindestens Deine Email-Adresse, ein selbstgew채hltes Passwort und Deinen Namen angeben.
    Alle anderen Angaben sind optional.<br/>
Bitte gib trotzdem Deine Handynummer an, das erleichtert und die Kontaktaufnahme insbesondere w&auml;hrend der Veranstaltungen!</p>

<p>Deine Anmeldedaten werden von uns ausschlie&szlig;lich f&uuml;r die Vorbereitung und Durchf체hrung von Veranstaltungen gespeichert
    und k&ouml;nnen nur von den Organisatoren der jeweiligen Veranstaltungen eingesehen werden.
    Daher siehst Du auf diesen Seiten auch keine vollst채ndige Teilnehmer- oder MOC-Liste.</br>
WICHTIG: Du musst uns Dein Einverst&auml;ndnis zur Speicherung Deiner Daten durch Ankreuzen des entsprechenden K&auml;stchens im Formular geben!</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= render :partial => "devise/shared/error_messages" %>

  <div class="field"><%= f.label :email, 'Email (gleichzeitig Dein Login)' %><br />
  <%= f.email_field :email %></div>

  <div class="field"><%= f.label :password, 'Passwort' %><br />
  <%= f.password_field :password %></div>

  <div class="field"><%= f.label :password_confirmation, 'Passwort bitte wiederholen' %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="field">
    <%= f.label :name, t('label_name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone, 'Telefonnummer (Bitte Handnummer angeben!)' %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :lug, t('label_lug') %><br />
    <%= f.text_field :lug %>
  </div>
  <div class="field">
    <%= f.label :nickname, 'Nickname (optional)' %><br />
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :address, 'Adresse (optional)' %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
      <%= f.check_box :accept_data_storage %>
      <%= f.label :accept_data_storage, "Ich bin mit der Speicherung meiner Daten im Rahmen der Vorbereitung und Durchf체hrung von Veranstaltungen einverstanden."%>
  </div>
  <div class="actions">
  <%= f.submit "Als Benutzer registrieren", :id => 'submit' %>
  </div>
  
<% end %>

</div>
<%= render :partial => "devise/shared/links" %>
