<h1>Benutzeranmeldung</h1>

<div class="InputForm">

<p>Zur Anmeldung musst Du mindestens Deine Email-Adresse, ein selbstgewähltes Passwort und Deinen Namen angeben.<br/>
Alle anderen Angaben sind optional.<br/>
Bitte gib trotzdem Deine Handynummer an, das erleichtert und die Kontaktaufnahme insbesondere w&auml;hrend der Veranstaltungen!</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field"><%= f.label :email, 'Email (gleichzeitig Dein Login)' %><br />
  <%= f.email_field :email %></div>

  <div class="field"><%= f.label :password, 'Passwort' %><br />
  <%= f.password_field :password %></div>

  <div class="field"><%= f.label :password_confirmation, 'Passwort bitte wiederholen' %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="field">
    <%= f.label :name, 'Vollständiger Name' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone, 'Telefonnummer (Bitte Handnummer angeben!)' %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :lug, 'LUG (z. B. Bricking Bavaria, 1000Steine, MBFR, SwissLUG, ...; optional)' %><br />
    <%= f.text_field :lug %>
  </div>
  <div class="field">
    <%= f.label :nickname, 'Nickname (optional)' %><br />
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :address, 'Adresse (optional)' %><br />
    <%= f.text_area :address %>
  </div>

  <div class="actions">
  <%= f.submit "Als Benutzer registrieren", :id => 'submit' %>
  </div>
  
<% end %>

</div>
<%= render :partial => "devise/shared/links" %>
