<!-- Copyright 2011 by Thomas Herrmann -->

<table class="AccommodationsTable FrontendTable">
  <tr>
    <th>Anmeldername</th>
    <th>Zimmertyp</th>
    <th>Anzahl</th>
    <th>Bemerkungen</th>
    <th colspan="2"></th>
  </tr>

<% accommodations.each do |accommodation| %>
  <tr>
    <td><%= accommodation.user_name %></td>
    <td><%= accommodation.accommodation_type_name %></td>
    <td><%= accommodation.count %></td>
    <td><%= accommodation.remarks %></td>
    <td><%= link_to t('edit'), edit_accommodation_path(accommodation) %></td>
    <td><%= link_to t('delete'), accommodation, :confirm => t('are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>
