<%= form_for(@accommodation) do |f| %>
  <div class="InputForm">
  <%= f.hidden_field :attendance_id %>
  <div class="field">
    <%= t('label_accommodation_type') %><br />
    <%= f.select :accommodation_type_id, AccommodationType.all.collect {|at| [ at.name, at.id ] }, {:prompt => '- Bitte auswählen -' } %>
  </div>
  <div class="field">
    <%= t('label_number_of_rooms') %><br />
    <%= f.number_field :count %>
  </div>
  <div class="field">
    <%= t('label_room_remarks') %><br />
    <%= f.text_area :remarks %>
  </div>
  <div class="actions">
    <%= f.submit t('save'), :id => 'submit' %>
  </div>
  </div>

<% end %>
