<p id="notice"><%= notice %></p>

<p>
  <b>Attendance:</b>
  <%= @accommodation.attendance_id %>
</p>

<p>
  <b>Accommodation type:</b>
  <%= @accommodation.accommodation_type_id %>
</p>

<p>
  <b>Count:</b>
  <%= @accommodation.count %>
</p>

<p>
  <b>Remarks:</b>
  <%= @accommodation.remarks %>
</p>


<%= link_to 'Edit', edit_accommodation_path(@accommodation) %> |
<%= link_to 'Back', accommodations_path %>
