<%= form_for(@exhibit) do |f| %>
    <div class="InputForm">
      <h3><%= t('supply_maximum_information') + " " + t('will_easy_our_planing') %></h3>
      <%= f.hidden_field :attendance_id %>
      <div class="field">
        <%= f.label :name, t('lebal_moc_name') %><br/>
        <%= f.text_field :name, size: 80 %>
      </div>
      <div class="field">
        <%= f.label :description, t('label_moc_desctiption') %><br/>
        <%= f.text_area :description, cols: 80 %>
      </div>
      <div class="field">
        <%= f.label :url, t('label_moc_url') %><br/>
        <%= f.text_field :url, size: 80 %>
      </div>

      <div class="field">
        <%= f.label :unit_id, t('label_moc_size') %>
        <%= f.select :unit_id, Unit.all.collect { |i| [i.description, i.id] } %><br/>
        <%= f.number_field :size_x, size: 10 %>
        <%= f.label :size_x, t('long') %><br/>
        <%= f.number_field :size_y, size: 10 %>
        <%= f.label :size_y, t('wide') %><br/>
        <%= f.number_field :size_z, size: 10 %>
        <%= f.label :size_y, t('high_if_higher_than_50_cm') %><br/>
      </div>

      <div class="field">
        <%= f.label :value, t('label_insurrance_value') %><br/>
        <%= f.number_field :value %>
      </div>

      <% if @exhibit.attendance && @exhibit.attendance.event && @exhibit.attendance.event.has_moc_card_service %>
          <div class="field">
            <%= f.label :building_hours, t('label_building_hours') %><br/>
            <%= f.text_field :building_hours, size: 40 %>
          </div>
          <div class="field">
            <%= f.label :brick_count, t('label_number_of_bricks') %><br/>
            <%= f.number_field :brick_count, size: 40 %>
          </div>
      <% end %>

      <div class="field">
        <%= f.check_box :needs_power_supply %>
        <%= f.label :needs_power_supply, t('label_needs_power_supply') %>
      </div>

      <% if @exhibit.attendance && @exhibit.attendance.event && @exhibit.attendance.event.has_moc_transport %>
          <div class="field">
            <%= f.check_box :needs_transportation %>
            <%= f.label :needs_transportation, t('label_moc_needs_transportation') %>
          </div>
      <% end %>

      <% if user_is_admin? || (@exhibit.attendance && @exhibit.attendance.event && @exhibit.attendance.event.is_managed_by?(current_user)) -%>
          <div class="field">
            <%= f.check_box :is_installation %>
            <%= f.label :is_installation, t('label_moc_is_joint_project') %>
          </div>
      <% end %>

      <div class="field">
        <%= f.check_box :is_part_of_installation %>
        <%= f.label :is_part_of_installation, t('label_moc_is_part_of_joint_project') %>
        <%= f.select :installation_exhibit_id, @exhibit.event_installations.collect { |i| [i.name, i.id] }, {:prompt => t('please_choose')} %>
      </div>
      <div class="field">
        <%= f.label :remarks, t('label_further_remarks') %><br/>
        <%= f.text_area :remarks, cols: 80, rows: 10 %>
      </div>
      <div class="actions">
        <%= f.submit t('save'), :id => 'submit' %>
      </div>
    </div>

<% end %>
