<%= form_for(@exhibit) do |f| %>
  <% if @exhibit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exhibit.errors.count, "Fehler") %> sind aufgetreten:</h2>

      <ul>
      <% @exhibit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="InputForm">
      <h3>Bitte gib so viele Informationen wie möglich an.
          Das erleichtert uns die Planung!</h3>
  <%= f.hidden_field :attendance_id %>
  <div class="field">
    <%= f.label :name, 'Name des MOCs' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, 'Zusätzlicher Text für die MOC-Karte' %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :url, 'URL mit Bildern, weiteren Infos etc.' %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :size_studs, 'Größe in Noppen' %><br />
    <%= f.text_field :size_studs %>
  </div>
  <div class="field">
    <%= f.label :size, 'Größe in Zentimetern' %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :value, 'Versicherungswert in Euro (ca.)' %><br />
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :building_hours, 'Anzahl der Baustunden(ca.)' %><br />
    <%= f.number_field :building_hours %>
  </div>
  <div class="field">
    <%= f.label :brick_count, 'Anzahl der Steine (ca.)' %><br />
    <%= f.number_field :brick_count %>
  </div>
  <div class="field">
    <%= f.check_box :needs_power_supply %>
    <%= f.label :needs_power_supply, 'Stromversorgung wird benötigt' %>
  </div>
  <div class="field">
    <%= f.check_box :needs_transportation %>
    <%= f.label :needs_transportation, 'Sammeltransport erwünscht (bitte nur mit Rücksprache!)' %>
  </div>
  <% if current_user.is_admin? -%>
    <div class="field">
      <%= f.check_box :is_installation %>
      <%= f.label :is_installation, 'Dieses MOC ist selbst ein Gemeinschaftsprojekt' %>
    </div>
  <% end %>
  <div class="field">
    <%= f.check_box :is_part_of_installation %>
    <%= f.label :is_part_of_installation, 'Dieses MOC ist Teil eines Gemeinschaftsprojektes, und zwar von' %>
    <%= f.select :installation_exhibit_id, @exhibit.event_installations.collect {|i| [ i.name, i.id ] }, {:prompt => '- Bitte auswählen -' } %>
  </div>
  <div class="field">
    <%= f.label :remarks, 'Bemerkungen und Kommentare (intern für unsere Planung)' %><br />
    <%= f.text_area :remarks %>
  </div>
  <div class="actions">
    <%= f.submit "Speichern", :id => 'submit' %>
  </div>
  </div>

<% end %>
