<%= form_for(@exhibit) do |f| %>
  <% if @exhibit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exhibit.errors.count, "error") %> prohibited this exhibit from being saved:</h2>

      <ul>
      <% @exhibit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="InputForm">
      <p>Bitte gib so viele Informationen wie möglich an.<br/>
          Das erleichtert uns die Planung.</p>
  <%= f.hidden_field :attendance_id %>
  <div class="field">
    Name des MOCs<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Beschreibung (für die MOC-Karte)<br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    URL mit Bildern, weiteren Infos etc.<br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    Größe in Noppen<br />
    <%= f.text_field :size_studs %>
  </div>
  <div class="field">
    Größe in Zentimetern<br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    Versicherungswert<br />
    <%= f.number_field :value %>
  </div>
  <div class="field">
    Anzahl der Baustunden<br />
    <%= f.number_field :building_hours %>
  </div>
  <div class="field">
    Anzahl der Steine<br />
    <%= f.number_field :brick_count %>
  </div>
  <div class="field">
    Stromversorgung benötigt?<br />
    <%= f.check_box :needs_power_supply %>
  </div>
  <div class="field">
    Brauchst Du einen Sammeltransport?<br />
    <%= f.check_box :needs_transportation %>
  </div>
  <div class="field">
    Ist dieses MOC ein eigenes Gemeinschaftsprojekt?<br />
    <%= f.check_box :is_installation %>
  </div>
  <div class="field">
    Ist das MOC ein Teil eines Gemeinschaftsprojektes?<br />
    <%= f.check_box :is_part_of_installation %>
  </div>
  <div class="field">
    Gemeinschaftsprojekt, zu dem dieses MOC gehört<br />
    <% if @installations.nil? -%>
        <%= f.number_field :installation_exhibit_id %>
    <% else -%>
        <%= f.select :installation_exhibit_id, @installations.collect {|i| [ i.name, i.id ] }, {:prompt => '- Bitte auswählen -' } %>
    <% end -%>
  </div>
  <div class="field">
    Bemerkungen und Kommentare (für die Planung)<br />
    <%= f.text_area :remarks %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>

<% end %>
