<!-- Copyright 2011 by Thomas Herrmann -->

<table class="ExhibitsTable FrontendTable">
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Stromversorgung</th>
    <th>Sammeltransport</th>
    <th>Gemeinschaftsprojekt</th>
    <th>Bemerkungen</th>
    <th colspan="3"></th>
  </tr>

<% exhibits.each do |exhibit| %>
  <tr>
    <td><%= exhibit.name %></td>
    <td><%= exhibit.url %></td>
    <td><%= to_j_n(exhibit.needs_power_supply) %></td>
    <td><%= to_j_n(exhibit.needs_transportation) %></td>
    <td><%= exhibit.installation_exhibit_name %></td>
    <td><%= exhibit.remarks %></td>
    <td colspan="3"><% if @attendance.event.registration_open? -%><%= link_to 'Ändern', edit_exhibit_path(exhibit) %>
    <%= link_to 'Löschen', exhibit, :confirm => 'Bist Du sicher?', :method => :delete %><% end -%>
    <!-- <%= link_to 'MOC-Karte erzeugen', edit_exhibit_path(exhibit) %> --></td>
  </tr>
<% end %>
</table>
