<!-- Copyright 2011 by Thomas Herrmann -->

<table class="ExhibitsTable FrontendTable">
  <tr>
    <th><%= t('heading_confirmed') %></th>
    <th><%= t('heading_name') %></th>
    <th><%= t('heading_url') %></th>
    <th><%= t('heading_power_supply') %></th>
    <% if @attendance && @attendance.event && @attendance.event.has_moc_transport %>
      <th><%= t('heading_transportation') %></th>
    <% end %>
    <th><%= t('heading_joint_project') %></th>
    <th><%= t('heading_size') %></th>
    <th><%= t('heading_remarks') %></th>
    <th><%= t('table_position') %></th>
    <th colspan="3"></th>
  </tr>

  <% exhibits.each do |exhibit| %>
    <tr>
      <td><%= to_yes_no(exhibit.is_approved?) %></td>
      <td><%= exhibit.name %></td>
      <td><%= exhibit.url %></td>
      <td><%= to_yes_no(exhibit.needs_power_supply) %></td>
      <% if @attendance && @attendance.event && @attendance.event.has_moc_transport %>
        <td><%= to_yes_no(exhibit.needs_transportation) %></td>
      <% end %>
      <td><%= exhibit.installation_exhibit_name %></td>
      <td>
        <% if exhibit.size_text_in_cm == 'MISSING' -%>
          <b><%= t('exhibit_size_missing') %></b>
        <% else -%>
          <%= exhibit.size_text_in_cm %>
        <% end -%>
      </td>
      <td><%= exhibit.remarks %></td>
      <td><%= exhibit.platform_position %></td>
      <td colspan="3">
        <% if @registration_open || (@attendance && @attendance.event && @attendance.event.edit_of_exhibits_allowed) -%>
          <%= link_to t('edit'), edit_exhibit_path(exhibit) %>
        <% end -%>
        <% if @registration_open || (@attendance && @attendance.event && @attendance.event.edit_of_exhibits_allowed) -%>
          <%= link_to t('delete'), exhibit, data: { confirm: t('are_you_sure') }, :method => :delete %>
        <% end -%>
        <!-- <%= link_to t('link_create_moc_card'), edit_exhibit_path(exhibit) %> -->
        <% @attendance.other_open_attendances.each do |to_attendance| %>
          <% unless to_attendance.contains_version_of(exhibit) %>
            <br/><span class="Indented"><%= link_to "--> #{to_attendance.event_title}", add_former_exhibit_attendance_path(:id => to_attendance.id, :former_exhibit_id => exhibit.id), method: :post %>
          <% end %>
        <% end %>
        <% if user_is_admin? %>
          <%= link_to t('link_create_voting_card'), voting_poster_exhibit_path(exhibit) %>
          <% if exhibit.is_installation? %>
            <%= form_for(exhibit) do |f| %>
              <%= f.select :attendance_id, @attendance.event.attendances.collect { |a| [a.user_name, a.id] } %>
              <%= f.submit 'Zuordnen', :id => 'submit' %>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
