<!-- Copyright 2011 by Thomas Herrmann -->

<table class="ExhibitsTable FrontendTable">
  <tr>
    <th>Bestätigt</th>
    <th>Name</th>
    <th>URL</th>
    <th>Stromversorgung</th>
    <% if @attendance && @attendance.event && @attendance.event.has_moc_transport %>
        <th>Sammeltransport</th>
    <% end %>
    <th>Gemeinschaftsprojekt</th>
    <th>Größe (m)</th>
    <th>Bemerkungen</th>
    <th colspan="3"></th>
  </tr>

  <% exhibits.each do |exhibit| %>
      <tr>
        <td><%= to_j_n(exhibit.is_approved?) %></td>
        <td><%= exhibit.name %></td>
        <td><%= exhibit.url %></td>
        <td><%= to_j_n(exhibit.needs_power_supply) %></td>
        <% if @attendance && @attendance.event && @attendance.event.has_moc_transport %>
            <td><%= to_j_n(exhibit.needs_transportation) %></td>
        <% end %>
        <td><%= exhibit.installation_exhibit_name %></td>
        <td><%= exhibit.size_text %></td>
        <td><%= exhibit.remarks %></td>
        <td colspan="3">
          <% if @registration_open -%><%= link_to 'Ändern', edit_exhibit_path(exhibit) %>
              <%= link_to 'Löschen', exhibit, :confirm => 'Bist Du sicher?', :method => :delete %>
          <% end -%>
          <!-- <%= link_to 'MOC-Karte erzeugen', edit_exhibit_path(exhibit) %> -->
          <% @attendance.other_open_attendances.each do |to_attendance| %>
              <% unless to_attendance.contains_version_of(exhibit) %>
                  <br/><span class="Indented"><%= link_to "--> #{to_attendance.event_title}", add_former_exhibit_attendance_path(:id => to_attendance.id, :former_exhibit_id => exhibit.id), method: :post %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
