<h1>Listing exhibits</h1>

<table>
  <tr>
    <th>User</th>
    <th>Event</th>
    <th>Name</th>
    <th>Description</th>
    <th>Url</th>
    <th>Size studs</th>
    <th>Size</th>
    <th>Value</th>
    <th>Building hours</th>
    <th>Brick count</th>
    <th>Needs power supply</th>
    <th>Needs transportation</th>
    <th>Is installation</th>
    <th>Is part of installation</th>
    <th>Installation exhibit</th>
    <th>Remarks</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exhibits.each do |exhibit| %>
  <tr>
    <td><%= exhibit.user_id %></td>
    <td><%= exhibit.event_id %></td>
    <td><%= exhibit.name %></td>
    <td><%= exhibit.description %></td>
    <td><%= exhibit.url %></td>
    <td><%= exhibit.size_studs %></td>
    <td><%= exhibit.size %></td>
    <td><%= exhibit.value %></td>
    <td><%= exhibit.building_hours %></td>
    <td><%= exhibit.brick_count %></td>
    <td><%= exhibit.needs_power_supply %></td>
    <td><%= exhibit.needs_transportation %></td>
    <td><%= exhibit.is_installation %></td>
    <td><%= exhibit.is_part_of_installation %></td>
    <td><%= exhibit.installation_exhibit_id %></td>
    <td><%= exhibit.remarks %></td>
    <td><%= link_to 'Show', exhibit %></td>
    <td><%= link_to 'Edit', edit_exhibit_path(exhibit) %></td>
    <td><%= link_to 'Destroy', exhibit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exhibit', new_exhibit_path %>
