<div class="InputForm">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "Fehler") %> sind aufgetreten:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Vollständiger Name' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone, 'Telefonnummer (Bitte Handnummer angeben!)' %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :lug, 'LUG (z. B. Bricking Bavaria, Schwabenstein 2x4, SwissLUG, 1000Steine, MBFR, ...; optional)' %><br />
    <%= f.text_field :lug %>
  </div>
  <div class="field">
    <%= f.label :nickname, 'Nickname (optional)' %><br />
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :address, 'Adresse (optional)' %><br />
    <%= f.text_area :address %>
  </div>
  <div class="actions">
    <%= f.submit "Daten ändern" %>
  </div>
<% end %>
</div>