<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= @user.email %></b>
  </div>
  <div class="field">
    Name<br />
    <%= f.text_field :fullname %>
  </div>
  <div class="field">
    LUG (z. B. 1000Steine, Mbfr, SwissLUG, BB,...)<br />
    <%= f.text_field :lug %>
  </div>
  <div class="field">
    Foren-Nickname<br />
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    Adresse<br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    Telefonnummer<br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
