<div class="InputForm">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Name<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    LUG (z. B. Bricking Bavaria, 1000Steine, MBFR, SwissLUG, ...)<br />
    <%= f.text_field :lug %>
  </div>
  <div class="field">
    Nickname<br />
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    Adresse (optional)<br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    Telefonnummer (optional)<br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>