<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th>Fullname</th>
    <th>Lug</th>
    <th>Nickname</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Phone</th>
    <th>Is dmin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.fullname %></td>
    <td><%= user.lug %></td>
    <td><%= user.nickname %></td>
    <td><%= user.address %></td>
    <td><%= user.phone %></td>
    <td><%= user.phone %></td>
    <td><%= user.is_dmin %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
