<h1>Listing registrations</h1>

<table>
  <tr>
    <th>Event</th>
    <th>User</th>
    <th>Number of attendees</th>
    <th>Attend afols evening</th>
    <th>Number of attendees afols evening</th>
    <th>Wants hotel reservation</th>
    <th>Remarks</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registrations.each do |registration| %>
  <tr>
    <td><%= registration.event_id %></td>
    <td><%= registration.user_id %></td>
    <td><%= registration.number_of_attendees %></td>
    <td><%= registration.attend_afols_evening %></td>
    <td><%= registration.number_of_attendees_afols_evening %></td>
    <td><%= registration.wants_hotel_reservation %></td>
    <td><%= registration.remarks %></td>
    <td><%= link_to 'Show', registration %></td>
    <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
    <td><%= link_to 'Destroy', registration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Registration', new_registration_path %>
