<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @registration.event_id %>
</p>

<p>
  <b>User:</b>
  <%= @registration.user_id %>
</p>

<p>
  <b>Number of attendees:</b>
  <%= @registration.number_of_attendees %>
</p>

<p>
  <b>Attend afols evening:</b>
  <%= @registration.attend_afols_evening %>
</p>

<p>
  <b>Number of attendees afols evening:</b>
  <%= @registration.number_of_attendees_afols_evening %>
</p>

<p>
  <b>Wants hotel reservation:</b>
  <%= @registration.wants_hotel_reservation %>
</p>

<p>
  <b>Remarks:</b>
  <%= @registration.remarks %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
