<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @accommodation_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @accommodation_type.description %>
</p>

<p>
  <b>Size:</b>
  <%= @accommodation_type.size %>
</p>


<%= link_to 'Edit', edit_accommodation_type_path(@accommodation_type) %> |
<%= link_to 'Back', accommodation_types_path %>
