<ul>
  <% if user_is_admin? %>
      <li>
        <%= link_to "LUGs", :controller => "/admin/lugs" %>
      </li>
      <li>
        <%= link_to "Events", :controller => "/admin/events" %>
      </li>
      <li>
        <%= link_to "Attendees", :controller => "/admin/attendees" %>
      </li>
      <li>
        <%= link_to "Attendances", :controller => "/admin/attendances" %>
      </li>
      <li>
        <%= link_to "MOCs", :controller => "/admin/exhibits" %>
      </li>
      <li>
        <%= link_to "Users", :controller => "/admin/users" %>
      </li>
      <li>
        <%= link_to "Attendee Types", :controller => "/admin/attendee_types" %>
      </li>
      <li>
        <%= link_to "Accommodation Types", :controller => "/admin/accommodation_types" %>
      </li>
      <li>
        <%= link_to "Units", :controller => "/admin/units" %>
      </li>
  <% end -%>
  <li>
    <%= link_to "Public Frontend", :controller => "/events" %>
  </li>
  <li id="logoutLink" class="mainNavi">
    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
  </li>
</ul>
