<ul>
	<% if user_signed_in? && current_user.is_admin? %>
        <li>
            <%= link_to "Veranstaltungen", :controller => "/admin/events" %>
        </li>
        <li>
            <%= link_to "Teilnehmer", :controller => "/admin/participations" %>
        </li>
        <li>
            <%= link_to "MOCs", :controller => "/admin/exhibits" %>
        </li>
        <li>
            <%= link_to "Personen", :controller => "/admin/users" %>
        </li>
        <li>
            <%= link_to "Public Frontend", :controller => "/events" %>
        </li>
        <li id="logoutLink" class="mainNavi">
            <%= link_to "Logout",  destroy_user_session_path, :method => :delete %>
        </li>
    <% end -%>
</ul>
