<ul>
  <% firstLink = true -%>
  <% if is_locale_supported? :en -%>
      <% if firstLink
           firstLink = false -%>
        <li id="englishLink" class="mainNavi languageLink">
      <% else -%>
        <li id="englishLink" class="mainNavi languageLink subsequentLink">
      <% end -%>
        <%= link_to image_tag('english.png', :alt => t('english'), :width => 15, :height => 10), "?locale=en" %>
      </li>
  <% end -%>
  <% if is_locale_supported? :de -%>
      <% if firstLink
           firstLink = false -%>
          <li id="germanLink" class="mainNavi languageLink">
      <% else -%>
          <li id="germanLink" class="mainNavi languageLink subsequentLink">
      <% end -%>
        <%= link_to image_tag('german.png', :alt => t('german'), :width => 15, :height => 10), "?locale=de" %>
      </li>
  <% end -%>
  <li id="impressLink" class="mainNavi">
    <%= link_to t('impress'), "#{@lug.impress_url}" %>
  </li>
  <% if user_signed_in? %>
      <li>
        <%= link_to t(:event_overview), :controller => "/events" %>
      </li>
      <li>
        <%= link_to t('my_attendances'), :controller => "/attendances" %>
      </li>
      <% if user_is_admin? %>
          <li>
            <%= link_to t('administration'), '/avo' %>
          </li>
      <% end %>
      <li id="logoutLink" class="mainNavi">
        <%= link_to t('logout'), destroy_user_session_path, :method => :delete %>
      </li>
      <li id="editUserLink" class="mainNavi">
        <%= link_to t('change_password'), edit_user_registration_path %>
      </li>
      <li id="editUserLink" class="mainNavi">
        <%= link_to t('my_profile'), edit_user_path(:id => current_user) %>
      </li>
  <% else %>
      <li id="loginLink" class="mainNavi">
        <%= link_to t('login'), new_user_session_path, :id => :login %>
      </li>
  <% end %>

</ul>
