<ul>
    <li id="impressLink" class="mainNavi">
        <%= link_to "Impressum",  'http://bricking-bavaria.de/impressum' %>
    </li>
    <% if user_signed_in? %>
        <li>
            <%= link_to "Veranstaltungen", :controller => "/events" %>
        </li>
        <li>
            <%= link_to "Meine Anmeldungen", :controller => "/attendances" %>
        </li>
        <% if current_user.is_admin? %>
            <li>
                <%= link_to "Administration", :controller => "/admin/events" %>
            </li>
        <% end %>
        <li id="logoutLink" class="mainNavi">
            <%= link_to "#{current_user.email} ausloggen",  destroy_user_session_path, :method => :delete %>
        </li>
        <li id="editUserLink" class="mainNavi">
            <%= link_to "Passwort ändern", edit_user_password_path %>
        </li>
        <li id="editUserLink" class="mainNavi">
            <%= link_to "Mein Profil", edit_user_path(:id => current_user) %>
        </li>
    <% else %>
        <li id="loginLink" class="mainNavi">
            <%= link_to "Anmelden",  new_user_session_path, :id => :login %>
        </li>
    <% end %>

</ul>
