<!-- Copyright 2011 by Thomas Herrmann -->

<table class="AttendeesTable FrontendTable">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Nickname</th>
      <th>E-Mail</th>
      <th>Telefonnummer</th>
      <th>Adresse</th>
      <th>LUG</th>
      <th>AFOLS-Event</th>
      <th>Bemerkungen</th>
      <th colspan="2"></th>
    </tr>

<% attendees.each do |attendee| %>
  <tr>
      <td><%= attendee.attendee_type %></td>
      <td><%= attendee.name %></td>
      <td><%= attendee.nickname %></td>
      <td><%= attendee.email %></td>
      <td><%= attendee.phone %></td>
      <td><%= attendee.address %></td>
      <td><%= attendee.lug %></td>
      <td><%= to_j_n(attendee.afols_event) %></td>
      <td><%= attendee.remarks %></td>
        <!-- TODO: Sollen hier wirklich links sein?? -->
      <td colspan="2"><%= link_to 'Ändern', edit_attendee_path(attendee) %>
      <%= link_to 'Löschen', attendee, :confirm => 'Bist Du sicher?', :method => :delete %></td>
  </tr>
<% end %>
</table>
