<%= form_for(@attendee) do |f| %>
  <div class="InputForm">
  <%= f.hidden_field :attendance_id %>

  <div class="field">
    <%= f.label :attendee_type_id, t('label_attendee_type') %><br />
    <%= f.select :attendee_type_id, AttendeeType.find_all_by_is_visible(true).collect {|at| [ at.name, at.id ] }, {:prompt => t('please_choose')} %>
  </div>
  <div class="field">
    <%= f.label :name, t('label_name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lug, t('label_lug') %><br />
    <%= f.text_field :lug %>
  </div>
  <div class="field">
    <%= f.label :nickname, t('label_nickname') %><br />
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :email, t('label_email') + " " + t('label_other_than_main_attendee') %><br />
    <%= f.text_field :email %>
  </div>

    <% if @attendee.event && @attendee.event.has_afols_event  %>
  <div class="field">
    <%= f.label :afols_event, t('label_afols_event') %><br />
    <%= f.check_box :afols_event %>
  </div>
    <% end %>

    <% if @attendee.event && @attendee.event.has_tickets  %>
    <div class="field">
      <%= f.label :needs_ticket, t('label_ticket') %><br />
      <%= f.check_box :needs_ticket %>
    </div>
    <% end %>

  <% if @attendee.event && @attendee.event.has_event_shirt  %>
    <div class="field">
        <%= f.label :shirt_size, t('label_t_shirt_size') %>
        <% [ 'S', 'M', 'L', 'XL', 'XXL' ].each do |size| %>
            <br/><%= f.radio_button :shirt_size, size %>
            <%= size %>
        <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :remarks, t('label_remarks') %><br />
    <%= f.text_area :remarks %>
  </div>
  <div class="actions">
    <%= f.submit t('save'), :id => 'submit' %>
  </div>
  </div>
<% end %>
