<!-- Copyright 2011 by Thomas Herrmann -->

<table class="AttendeesTable FrontendTable">
  <tr>
    <th><%= t('heading_id') %></th>
    <th><%= t('heading_confirmed') %></th>
    <th></th>
    <th><%= t('heading_name') %></th>
    <th><%= t('heading_lug') %></th>
    <th><%= t('heading_email') %></th>
    <th><%= t('heading_nickname') %></th>
    <% if event && event.has_afols_event? %>
      <th><%= t('heading_afols_event') %></th>
    <% end %>
    <% if event && event.has_tickets? %>
      <th><%= t('heading_ticket') %></th>
    <% end %>
    <% if event && event.has_option_1? %>
      <th><%= event.label_option_1 %></th>
    <% end %>
    <% if event && event.has_option_2? %>
        <th><%= event.label_option_2 %></th>
    <% end %>
    <% if event && event.has_option_3? %>
        <th><%= event.label_option_3 %></th>
    <% end %>
    <% if event && event.has_option_4? %>
        <th><%= event.label_option_4 %></th>
    <% end %>
    <% if event && event.has_option_5? %>
        <th><%= event.label_option_5 %></th>
    <% end %>
    <% if event && event.has_event_shirt? %>
      <th><%= t('heading_event_shirt') %></th>
    <% end %>
    <th><%= t('heading_remarks') %></th>
    <th colspan="2"></th>
  </tr>

  <% attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.id %></td>
        <td><%= to_yes_no(attendee.is_approved?) %></td>
        <td><%= attendee.attendee_type %></td>
        <td><%= attendee.name %></td>
        <td><%= attendee.lug %></td>
        <td><%= attendee.email %></td>
        <td><%= attendee.nickname %></td>
        <% if event && event.has_afols_event? %>
          <td><%= to_yes_no(attendee.afols_event?) %></td>
        <% end %>
        <% if event && event.has_tickets? %>
          <td><%= to_yes_no(attendee.needs_ticket?) %></td>
        <% end %>
        <% if event && event.has_option_1? %>
          <td><%= to_yes_no(attendee.option_1?) %></td>
        <% end %>
        <% if event && event.has_option_2? %>
          <td><%= to_yes_no(attendee.option_2?) %></td>
        <% end %>
        <% if event && event.has_option_3? %>
          <td><%= to_yes_no(attendee.option_3?) %></td>
        <% end %>
        <% if event && event.has_option_4? %>
          <td><%= to_yes_no(attendee.option_4?) %></td>
        <% end %>
        <% if event && event.has_option_5? %>
          <td><%= to_yes_no(attendee.option_5?) %></td>
        <% end %>
        <% if event && event.has_event_shirt? %>
          <td>
            <% unless attendee.number_of_shirts.nil? || attendee.number_of_shirts&.zero? %>
              <%= attendee.number_of_shirts %> x <%= attendee.shirt_size %>
            <% end %>
          </td>
        <% end %>
        <td><%= attendee.remarks %></td>
        <!-- TODO: Sollen hier wirklich links sein?? -->
        <td colspan="2">
          <% if @registration_open || (event && event.edit_of_attendees_allowed?) -%>
            <%= link_to t('edit'), edit_attendee_path(attendee) %>
          <% end -%>
          <% if @registration_open -%>
            <%= link_to t('delete'), attendee, data: { confirm: t('are_you_sure') }, :method => :delete %>
          <% end -%>
        </td>
      </tr>
  <% end %>
</table>
