<h1>Anmeldungen</h1>

<table>
  <tr>
    <th>Name</th>
    <th>LUG</th>
    <th>Nickname</th>
    <th>AFOLS-Event</th>
    <th>Bemerkungen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendees.each do |attendee| %>
  <tr>
   <td><%= attendee.name %></td>
   <td><%= attendee.lug %></td>
   <td><%= attendee.nickname %></td>
   <td><%= attendee.afols_event %></td>
   <td><%= attendee.remarks %></td>
    <td><%= link_to 'Show', attendee %></td>
    <td><%= link_to 'Edit', edit_attendee_path(attendee) %></td>
    <td><%= link_to 'Destroy', attendee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attendee', new_attendee_path %>
