<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attendee.name %>
</p>
<p>
  <b>LUG:</b>
  <%= @attendee.lug %>
</p>
<p>
  <b>Nickname:</b>
  <%= @attendee.nickname %>
</p>
<p>
  <b>AFOLS-Event:</b>
  <%= @attendee.afols_event %>
</p>
<p>
  <b>Bemerkungen:</b>
  <%= @attendee.remarks %>
</p>

<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
