<!-- Copyright 2024 by Thomas Herrmann -->
<% if total_vote_count.size == 0 %>
  <h4><%= t('no_votes') %></h4>
<% else %>
  <h4><%= t('number_of_votes', size: total_vote_count) %></h4>
  <table class="ExhibitsTable FrontendTable">
    <tr>
      <th><%= t('heading_votes') %></th>
      <th><%= t('table_position') %></th>
      <th><%= t('heading_moc') %></th>
      <th><%= t('heading_name') %></th>
      <th><%= t('heading_id') %></th>
      </th>
      <% top_voted_exhibits.each do |exhibit| %>
      <% number_of_votes = exhibit.find_votes_for(vote_scope: voting_scope).size %>
      <tr>
        <td>
          <progress max=<%= max_votes %> value=<%= number_of_votes %>></progress>
          <%= number_of_votes %></td>
        <td><%= exhibit.platform_position %></td>
        <td><%= exhibit.name %></td>
        <td><%= exhibit.user_name %></td>
        <td><%= exhibit.id %></td>
      </tr>
    <% end %>
  </table>
<% end %>
