<!-- Copyright 2011 by Thomas Herrmann -->
<h1>Veranstaltungsübersicht</h1>

<p>Hier findest Du unsere aktuellen Veranstaltungen, zu denen wir noch Aussteller und Helfer suchen.</p>

<div class="EventList">
<% @events.each do |event| %>
    <p><div class="EventTitle"><%= event.title %></div>
       <div class="EventTime">von <%= event.start_date %> bis <%= event.end_date %></div>
       <div class="EventUrl">Nähere Informationen unter <%= link_to event.url, event.url %></div></p>
    <p class="EventDescription"><%= event.description %></p>
    <p class="EventInfo">Für diese Veranstaltung sind bisher <%= event.number_of_attendees %> Teilnehmer mit insgesamt <%= event.number_of_exhibits %> MOCs angemeldet.</p>
    <% if user_signed_in? %>
        <p class="EventSignup"><%= link_to "Zur Teilnahme an '#{event.title}' registrieren",  new_attendee_path(:user_id => current_user.id, :event_id => event.id) %></p>
    <% end %>
<% end %>
</div>

<br />

<% if !user_signed_in? %>
    <h3>Willst Du bei einer Bricking-Bavaria-Ausstellung teilnehmen?</h3>
    <p>Dann melde Dich bitte <%= link_to "hier",  new_user_session_path %> an!
<% end %>

