<h1>Veranstaltungsübersicht</h1>

<p>Hier findest Du unsere aktuellen Veranstaltungen, zu denen wir noch Aussteller und Helfer suchen.</p>

<div class="EventTable">
<% @events.each do |event| %>
<h2 class="EventTitle"><%= event.title %></h2>
<p class="EventTime"><%= event.start_date %> bis <%= event.end_date %></p>
<p class="EventDescription"><%= event.description %></p>
<p class="EventUrl">Nähere Informationen unter <%= link_to event.url, event.url %></p>
<% end %>
</div>

<br />
