<!-- Copyright 2011 by Thomas Herrmann -->
<p id="notice"><%= notice %></p>

<h1><%= t('overview_attendances') %></h1>

<p>
<div class="EventTitle"><%= t('all_attendances_for') + " " + @event.title %></div>
<div class="EventTime"><%= t('from') + " " + @event.start_date.to_s + " " + t('until') + " " + @event.end_date.to_s %></div></p>
<p class="EventInfo"><%= t('for_this_event') + " " + @event.number_of_attendees.to_s + " " + t('attendees') + " " +
                             t('of_which') + " " + @event.number_of_approved_attendees.to_s + " " + t('are_confirmed') + " " +
                             t('with_totally') + " " + @event.number_of_exhibits.to_s + " " + t('mocs_registered') %>
  <br/>
  <%= t('confirmed_for_afols_event') + " " + @event.number_of_attendees_at_afols_event.to_s %><br/>
  <%= t('confirmed_tickets') + " " + @event.number_of_tickets.to_s %><br/>
  <%= link_to t('exhibit_voting_results'), votes_path(@event) %>
</p>

<% if user_is_admin? ||@event.is_managed_by?(current_user) %>


  <h2>Anmeldeliste</h2>
  <p>
  <div class="Indented">
    <% @new_attendance = Attendance.new
       @new_attendance.event_id = @event.id %>
    <%= form_for(@new_attendance) do |f| %>
      <%= f.submit "Weitere Anmeldung manuell erstellen (User-ID eingeben)", :id => 'submit' %>
      <%= f.text_field :user_id %>
      <%= f.hidden_field :event_id %>
    <% end %>
  </div>
  </p>
    <%= render 'attendances/exportlist', :attendances => @event.attendances %>

    <h2>Teilnehmerliste
      <%= button_to 'CSV Datei der Teilnehmer exportieren', :action => 'attendees_as_csv', :id => @event, :filename => 'teilnehmer.csv' %>
    </h2>
    <p class="Indented">
      <%= mail_to "#{@lug.info_mail}", 'Mail an alle Teilnehmer', bcc: @event.attendees_mails %>
    </p>
    <%= render 'attendees/exportlist', :attendees => @event.attendees, :event => @event %>

    <h2>MOC-Liste
      <%= button_to t('csv_datei_der_mo_cs_exportieren'), :action => 'exhibits_as_csv', :id => @event, :filename => 'mocliste.csv' %>
    </h2>
  <p>
  <div class="Indented">
    <%= form_tag position_import_exhibits_path, method: :post, multipart: true do %>
      <%= file_field_tag :file, accept: ".csv" %><br/>
      <%= submit_tag t('import_position_csv') %>
    <% end %>
  </div>
  </p>

  <table class="ExhibitsTable FrontendTable">
      <tr>
        <th>Größe in qm</th>
        <th>MOC-Größe</th>
        <th>Aufgerundet</th>
      </tr>
      <tr>
        <td>angemeldet</td>
        <td><%= @event.size_square_meters_registered.round(2) %></td>
        <td><%= @event.required_space_square_meters_registered.round(2) %></td>
      </tr>
      <tr>
        <td>bestätigt</td>
        <td><%= @event.size_square_meters_approved.round(2) %></td>
        <td><%= @event.required_space_square_meters_approved.round(2) %> </td>
      </tr>
    </table>
    <%= render 'exhibits/exportlist', :exhibits => @event.exhibits, :event => @event %>

    <% if @event.has_accommodation %>
        <h2>Hotelliste</h2>
        <%= render 'accommodations/exportlist', :accommodations => @event.accommodations %>
    <% end %>

<% end %>

<%= link_to 'Zurück zur Startseite', events_path %>
