<!-- Copyright 2011 by Thomas Herrmann -->
<p id="notice"><%= notice %></p>

<h1>Übersicht Anmeldungen</h1>

<p><div class="EventTitle">Alle Anmeldedaten für <%= @event.title %></div>
   <div class="EventTime">von <%= @event.start_date %> bis <%= @event.end_date %></div></p>
<p class="EventInfo">Für diese Veranstaltung sind bisher <%= @event.number_of_attendees %> Teilnehmer mit insgesamt <%= @event.number_of_exhibits %> MOCs angemeldet.</p>

<% if current_user.is_admin? %>

    <h2>Anmeldeliste</h2>
    <%= render 'attendances/exportlist', :attendances => @event.attendances %>

    <h2>Teilnehmerliste</h2>
    <%= render 'attendees/exportlist', :attendees => @event.attendees %>

    <h2>MOC-Liste</h2>
    <%= render 'exhibits/exportlist', :exhibits => @event.exhibits %>

    <h2>Hotelliste</h2>
    <%= render 'accommodations/exportlist', :accommodations => @event.accommodations %>

<% end %>

<%= link_to 'Zurück zur Startseite', events_path %>
