<!-- Copyright 2024 by Thomas Herrmann -->
<h1><%= t('exhibit_voting_results_for') + @event.title %></h1>

<% if @top_voted_exhibits.size == 0 %>
  <h2><%= t('no_votes') %></h2>
<% else %>
  <h2><%= t('number_of_votes', size: @total_vote_count) %></h2>
  <table class="ExhibitsTable FrontendTable">
    <tr>
      <th><%= t('heading_votes') %></th>
      <th><%= t('table_position') %></th>
      <th><%= t('heading_moc') %></th>
      <th><%= t('heading_name') %></th>
      <th><%= t('heading_id') %></th>
    </th>
    <% @top_voted_exhibits.each do |exhibit| %>
      <tr>
        <td><progress max=<%= @max_votes %> value=<%= exhibit.number_of_votes %>></progress>
          <%= exhibit.number_of_votes %></td>
        <td><%= exhibit.platform_position %></td>
        <td><%= exhibit.name %></td>
        <td><%= exhibit.user_name %></td>
        <td><%= exhibit.id %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if user_is_admin? || (@event && @event.is_managed_by?(current_user)) -%>
  <div class="OverviewLink"><%= link_to t('back_to_event'), event_path(@event) unless @event.nil? %></div>
<% end %>
