<h2><%= @exhibit.event_title %></h2>
<% moctext = "#{@exhibit.name}" %>
<% moctext += " (#{@exhibit.platform_position})" unless @exhibit.platform_position.blank? %>
<% if @voted_already %>
  <p><%= t('voted_already') %>  <i><b><%= moctext %></b></i></p>
<% else %>
  <%= form_for @vote, :url => url_for(:controller => 'votes', :action => 'create') do |f| %>
    <div class="VotingForm">
      <p><%= t('vote_for') %></p>
      <p><i><b><%= moctext %></b></i> </p>
      <div class="actions">
        <%= f.submit t('vote'), :id => 'submit' %>
      </div>
    </div>
  <% end %>
<% end %>
