<!-- Copyright 2011 by Thomas Herrmann -->

<table class="AttendeesTable FrontendTable">
    <tr>
      <th><%= t('heading_confirmed')%></th>
      <th><%= t('heading_name')%></th>
      <th><%= t('heading_nickname')%></th>
      <th><%= t('heading_email')%></th>
      <th><%= t('heading_phone')%></th>
      <th><%= t('heading_address')%></th>
      <th><%= t('heading_lug')%></th>
      <th><%= t('heading_mocs')%></th>
      <th><%= t('heading_transportation')%></th>
    </tr>

<% attendances.each do |attendance| %>
  <% user = attendance.user %>
  <% unless user.blank? then %>
  <tr>
    <td><%= link_to to_yes_no(attendance.is_approved?), approve_attendance_path(attendance), :method => :post %></td>
      <td><%= link_to user.name, attendance_path(attendance) %></td>
      <td><%= user.nickname %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= user.address %></td>
      <td><%= user.lug %></td>
      <td>
          <% attendance.exhibits.each do | exhibit | %>
          <%= exhibit.name %><br/>
          <% end %>
      </td>
      <td>
          <% c =  attendance.transportation_count %>
          <%= "1 MOC" if c == 1 %>
          <%= c.to_s + " MOCs" if c > 1 %>
      </td>
  </tr>
  <% end %>
<% end %>
</table>
