<tr>
  <td><%= link_to attendance.event_title, attendance %><br/>
    <span class="EventTime"><%= t('from') + " " + attendance.event.start_date.to_s + " " + t('until') + " " + attendance.event.end_date.to_s %></span><br/>

    <% if attendance.attendees.count > 0 %>
        <p>
          <% attendance.attendees.each do |attendee| %>
              <%= attendee.name %> (<%= attendee.attendee_type -%>)<br/>
          <% end %>
        </p>
    <% end %>
  </td>
  <td>
    <% if attendance.exhibits.count > 0 %>
        <% attendance.exhibits.each do |exhibit| %>
            <p>
              <%= exhibit.name %>
              <% attendance.other_open_attendances.each do |to_attendance| %>
                  <% unless to_attendance.contains_version_of(exhibit) %>
                      <br/><span class="Indented"><%= link_to "--> #{to_attendance.event_title}", add_former_exhibit_attendance_path(:id => to_attendance.id, :former_exhibit_id => exhibit.id), method: :post %>
                  <% end %>
              <% end %>
            </p>
        <% end %>
    <% end %>
  </td>
</tr>
