<% event_title = @attendance.event.title unless @attendance.event.nil? %>
<% event_title = "<NO EVENT>" if event_title.nil? %>

<h1><%= t('attendance_for') + " " +event_title %></h1>

<div class="InputForm">

<p><%= t('new_attendance1') + " " +  event_title + " " + t('new_attendance2') %></p>

<p><%= t('new_attendance3')%><br/>
  <%= t('new_attendance4')%></p>

<p><%= t('new_attendance5')%></p>

<%= render 'form' %>

</div>
<%= link_to t('back_to_event_overview'), events_path %>
