<!-- Copyright 2011 by Thomas Herrmann -->

<% event_title = @attendance.event.title unless @attendance.event.nil? %>
<% event_title = "<NO EVENT>" if event_title.nil? %>
<% user_name = @attendance.user.name unless @attendance.user.nil? %>
<% user_name = "<NO USER>" if user_name.nil? %>

<h1>Anmeldung für <%= event_title %></h1>

<p><div class="EventTitle">Anmeldung von <%= user_name %> zur Veranstaltung <%= event_title %></div></p>

<p class="Indented">Du hast bisher <%= @attendance.attendees.count %> Person angemeldet (<%= link_to 'Weitere Person anmelden', new_attendee_path(:attendance_id => @attendance)%>):</p>

<%= render 'attendees/table', :attendees => @attendance.attendees %>

<p class="Indented">Du hast bisher <%= @attendance.exhibits.count %> MOCs angemeldet (<%= link_to 'Weiteres MOC anmelden', new_exhibit_path(:attendance_id => @attendance)%>):</p>

<%= render 'exhibits/table', :exhibits => @attendance.exhibits %>

<p class="Indented">Deine Übernachtungswünsche (<%= link_to 'Weiterer Eintrag', new_accommodation_path(:attendance_id => @attendance)%>):</p>

<!-- TODO: Text for event hotel in database!!! -->
<p class="Indented">Unser Hotel für BB2012 ist das Pullman Hotel München**** (<a href="www.pullman-hotel-muenchen.de">www.pullman-hotel-muenchen.de</a>). Wir haben hier bereits Zimmer reserviert. Der Preis beträgt 30 Euro pro Nacht inklusive Frühstück pro Nase bei Übernachtung in einem Doppelzimmer.</p>

<%= render 'accommodations/table', :accommodations => @attendance.accommodations %>

<div class="OverviewLink"><%= link_to 'Zurück zur Veranstaltungsübersicht', events_path %></div>
