<!-- Copyright 2011, 2013 by Thomas Herrmann -->

<% event_title = @attendance.event.title unless @attendance.event.nil? %>
<% event_title = "<NO EVENT>" if event_title.nil? %>
<% @registration_open = @attendance.event_registration_open? || user_is_admin? %>
<% user_name = @attendance.user.name unless @attendance.user.nil? %>
<% user_name = "<NO USER>" if user_name.nil? %>

<h1>Anmeldung für <%= event_title %></h1>
<p>
<div class="EventTitle">Anmeldung von <%= user_name %> zur Veranstaltung <%= event_title %></div></p>

<hr/>

<p class="Indented">Du hast <%= @attendance.attendees.count %> Person<%= "en" if @attendance.attendees.count > 1 %>
  angemeldet
  <% if @registration_open -%>(<%= link_to "#{@attendance.attendees.count == 0 ? 'Erste' : 'Weitere'} Person anmelden", new_attendee_path(:attendance_id => @attendance) -%>)
  <% end -%>:</p>

<%= render 'attendees/table', :attendees => @attendance.attendees, :event => @attendance.event %>

<hr/>

<p class="Indented">Du hast <%= @attendance.exhibits.count %>
  MOC<%= "s" if @attendance.exhibits.count > 1 || @attendance.exhibits.count == 0 %> angemeldet
  <% if @registration_open -%>(<%= link_to "#{@attendance.exhibits.count == 0 ? 'Erstes' : 'Weiteres'} MOC anmelden", new_exhibit_path(:attendance_id => @attendance) -%>)
  <% end -%>:</p>

<%= render 'exhibits/table', :exhibits => @attendance.exhibits, :event => @attendance.event %>

<% if @attendance.event_registration_open? and @attendance.has_former_exhibits? %>
    <p class="Indented"><b>Hinweis:</b> Unter <%= link_to 'Meine Anmeldungen', attendances_path %> kannst Du die Daten von früheren MOCs nach '<%= event_title %>' kopieren!</p>
<% end %>

<hr/>

<% if @attendance.event && @attendance.event.has_accommodation %>
    <p class="Indented">Deine Übernachtungswünsche
      <% if @registration_open -%>
          (<%= link_to 'Weiteren Hotelwunsch eintragen', new_accommodation_path(:attendance_id => @attendance) %>)
      <% end -%>:</p>

    <%= render 'accommodations/table', :accommodations => @attendance.accommodations, :event => @attendance.event %>

    <p class="Indented">
      <% if @registration_open -%><%= link_to 'Weiteren Hotelwunsch eintragen', new_accommodation_path(:attendance_id => @attendance) %>
          <br/>
      <% end -%>&nbsp;</p>

    <hr/>
<% end %>

<div class="OverviewLink"><%= link_to 'Zurück zur Veranstaltungsübersicht', events_path %></div>
<% if user_is_admin? -%>
    <div class="OverviewLink"><%= link_to 'Zurück zur Veranstaltung', event_path(@attendance.event) unless @attendance.event.nil? %></div>
<% end %>


