<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @attendance.user_id %>
</p>

<p>
  <b>Event:</b>
  <%= @attendance.event_id %>
</p>


<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
