<!-- Copyright 2011 by Thomas Herrmann -->

<% event_title = @attendance.event.title unless @attendance.event.nil? %>
<% event_title = "<NO EVENT>" if event_title.nil? %>

<h1>Anmeldung f端r <%= event_title %></h1>

<p><div class="EventTitle"><%= event_title %> - Deine Anmeldedaten</div></p>

<p>Du hast bisher <%= @attendance.attendees.count %> Person angemeldet:</p>

<%= render 'attendees/table', :attendees => @attendance.attendees %>

<p>Du hast bisher <%= @attendance.exhibits.count %> MOCs angemeldet:</p>

<%= render 'exhibits/table', :exhibits => @attendance.exhibits %>

<p>Deine Hotelw端nsche:</p>

<%= render 'accommodations/table', :accommodations => @attendance.accommodations %>

<%= link_to 'Zur端ck zur Veranstaltungs端bersicht', events_path %>
