<!DOCTYPE html>
<% titleline = "#{SoftwareVersion.appname} #{@lug.name}" %>
<html>
<head>
  <title><%= titleline %></title>
  <%= favicon_link_tag "#{@lug.favicon_url}" %>
  <meta name="application-name" content="<%= "#{SoftwareVersion.appname} #{SoftwareVersion.versionstring}" %>">
  <meta name="description" content="<%= "#{@lug.name} event management" %>">
  <meta name="copyright" content="(c) 2010-2020 Thomas Herrmann <mail@thoherr.de>">
  <%= render :partial => "shared/meta_includes" %>
</head>
<body class="<%= @stage%> <%= I18n.locale%>">

<div id="mainTitle">
  <img class="LugLogo" src="<%= "#{@lug.logo_url}" %>"/>
  <span class="VersionText"><% if user_signed_in? %><%= t('logged_in_as') + " #{current_user.email} - " %><% end %><%= "Version #{SoftwareVersion.versionstring}" %></span>
  <span class="TitleText"><%= titleline %></span>
</div>

<div id="mainNavi">
  <%= render :partial => "shared/user_navi" %>
</div>

<div id="mainContent">
  <%= render :partial => "shared/flashes" %>
  <%= yield %>
</div>


</body>
</html>
