<!DOCTYPE html>
<% titleline = "#{SoftwareVersion.appname} #{@lug.name}" %>
<html>
<head>
  <title><%= titleline %></title>
  <%= favicon_link_tag "#{@lug.favicon_url}" %>
  <meta name="application-name" content="<%= "#{SoftwareVersion.appname} #{SoftwareVersion.versionstring}" %>">
  <meta name="description" content="<%= "#{@lug.name} event management" %>">
  <meta name="copyright" content="(c) 2010-2024 Thomas Herrmann <mail@thoherr.de>">
  <%= render "shared/meta_includes" %>
    <%= javascript_importmap_tags %>
</head>
<body class="<%= @stage%> <%= I18n.locale%>">

<table id="mainTitle">
  <tr>
    <td>
      <%= image_tag "#{@lug.logo_url}", class: "LugLogo" %>
    </td>
    <td>
      <span class="VersionText"><% if user_signed_in? %><%= t('logged_in_as') + " #{current_user.email} - " %><% end %><%= "Version #{SoftwareVersion.versionstring} #{@stage}" %></span>
      <span class="TitleText"><%= titleline %></span>
    </td>
  </tr>
</table>

<div id="mainNavi">
  <%= render "shared/user_navi" %>
</div>

<div id="mainContent">
  <%= render "shared/flashes" %>
  <%= yield %>
</div>


</body>
</html>
