<!DOCTYPE html>
<% titleline = "#{SoftwareVersion.appname} #{@lug.name}" %>
<html>
<head>
  <title><%= titleline %></title>
  <%= favicon_link_tag "#{@lug.favicon_url}" %>
  <meta name="application-name" content="<%= "#{SoftwareVersion.appname} #{SoftwareVersion.versionstring}" %>">
  <meta name="description" content="<%= "#{@lug.name} event management" %>">
  <meta name="copyright" content="(c) 2010-2024 Thomas Herrmann <mail@thoherr.de>">
  <%= render "shared/meta_includes" %>
    <%= javascript_importmap_tags %>
</head>
<body class="<%= @stage%> <%= I18n.locale%>">

<header id="mainHeader" class="app-header">
  <div class="header-logo">
    <%= image_tag "#{@lug.logo_url}", class: "LugLogo", alt: "#{@lug.name} Logo" %>
  </div>
  <div class="header-content">
    <div class="header-meta">
      <span class="VersionText">
        <% if user_signed_in? %>
          <%= t('logged_in_as') + " #{current_user.email} - " %>
        <% end %>
        <%= "Version #{SoftwareVersion.versionstring} #{@stage}" %>
      </span>
    </div>
    <h1 class="TitleText"><%= titleline %></h1>
  </div>
</header>

<nav id="mainNavi" class="app-nav">
  <%= render "shared/user_navi" %>
</nav>

<main id="mainContent" class="app-main">
  <%= render "shared/flashes" %>
  <%= yield %>
</main>


</body>
</html>
