<!DOCTYPE html>
<% titleline = "#{SoftwareVersion.appname}" %>
<html>
<head>
    <title><%= titleline %></title>
    <meta name="application-name" content="#{SoftwareVersion.appname} #{SoftwareVersion.versionstring}">
    <meta name="description" content="Veranstaltungsverwaltung von Bricking Bavaria e. V.">
    <%= render :partial => "shared/meta_includes" %>
</head>
<body>

    <div id="mainTitle">
        <span class="VersionText"><% if user_signed_in? %><%= "Angemeldet als #{current_user.email} - " %><% end %><%= "Version #{SoftwareVersion.versionstring}" %></span>
        <span class="TitleText"><%= titleline %></span>
    </div>

    <div id="mainNavi">
        <%= render :partial => "shared/user_navi" %>
    </div>

    <div id="mainContent">
        <%= render :partial => "shared/flashes" %>
        <%= yield %>
    </div>


</body>
</html>
