<!DOCTYPE html>
<% titleline = "#{SoftwareVersion.app_name}" %>
<html>
<head>
    <title><%= titleline %></title>
    <meta name="application-name" content="BrickEvent"> 
    <meta name="description" content="Veranstaltungen von Bricking Bavaria"> 
    <%= render :partial => "shared/meta_includes" %>
</head>
<body>

    <div id="mainTitle">
        <span class="VersionText"><% if user_signed_in? %><%= "Angemeldet als #{current_user.email} - " %><% end %><%= "Version #{SoftwareVersion.release_number} (#{SoftwareVersion.build_number})" %></span>
        <span class="TitleText"><%= titleline %></span>
    </div>

    <div id="mainNavi">
        <%= render :partial => "shared/user_navi" %>
    </div>

    <div id="mainContent">
        <%= render :partial => "shared/flashes" %>
        <%= yield %>
    </div>


</body>
</html>
