<!DOCTYPE html>
<% titleline = "#{@exhibit.event_title}" %>
<html>
<head>
  <title><%= titleline %></title>
  <%= favicon_link_tag "#{@lug.favicon_url}" %>
  <meta name="application-name" content="<%= "#{SoftwareVersion.appname} #{SoftwareVersion.versionstring}" %>">
  <meta name="description" content="<%= "#{@lug.name} MOC voting for #{@exhibit.event_title}" %>">
  <meta name="copyright" content="(c) 2024 Thomas Herrmann <mail@thoherr.de>">
  <%= stylesheet_link_tag "voting" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
</head>
<body class="<%= @stage%> <%= I18n.locale%>">

<div id="votingTitle">
  <img class="LugLogo" src="<%= "#{@lug.logo_url}" %>"/>
</div>

<div id="votingContent">
  <%= render "shared/flashes" %>
  <%= yield %>
</div>

</body>
</html>
